body{
    margin: 0;
    padding: 0;
}
.background-image{
    background-image: url(../img/pexels-photo-164024.jpeg);
    height: 41.7rem;
    width: 100vw;
    background-repeat: no-repeat;
}
.form-control:focus{
    border: none;
    box-shadow: none !important;
}
.wether-icon{
    display: flex;
    justify-content: center;
}

